/* Write your CSS here */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
}
.button {
  display: flex;
  justify-content: space-around;
}
.button1 {
  background-color: #ffffff;
  color: #dd1264;
  border-radius: 9px;
  margin: 10px;
  padding: 6px;
}
.heading {
  text-align: center;
  font-family: 'Roboto';
}
.paragraph {
  background-color: #fddddb;
  color: #000000;
  padding: 20px;
  width: 150px;
  text-align: center;
  border-radius: 5px;
}
.button-container {
  display: flex;
}
.button {
  display: flex;
  flex-direction: column;
  text-align: center;
}
